/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/*.access_code
/storage/app/*.access_log
/storage/app/*.account_email
/storage/app/*.app_installed
/storage/app/*.install_count
/storage/app/*.version
/storage/app/purifier
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/database-backup
config.json
/public/images