

 .review_star_icon i.non_rated {
   color: #fff !important;
   -webkit-text-stroke-color: blue;
   color: transparent;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #ffb400;
   font-size: 11px;
 }

 .review_star_icon i {
   color: #ffb400;
   font-size: 12px;
   line-height: 29px;
 }

 .review_star_icon  {
   margin-right: 15px;
 }

 .radio input[type="radio"] + .radio-label:before {
     content: '';
     display: inline-block !important;
     width: 30px !important;
     height: 30px !important;
     position: relative !important;
     top: 0px !important;
     vertical-align: top !important;
     cursor: pointer !important;
     text-align: center !important;
     transition: all 250ms ease !important;
 }
 .radio-label {
     margin-bottom: 0px !important;
 }
 .radio {
     border-radius: 50% !important;
 }
 .product_details_part .cs_color_btn .radio input[type="radio"] + .radio-label:before {
     top: 1px !important;
     left: 1px !important;
 }
 .product_details_part .cs_color_btn .radio {
     margin: 3px 5px !important;
     display: inline-block !important;
     height: 32px !important;
     border-radius: 50% !important;
     width: 32px !important;
     line-height: 32px !important;
 }
 .radio input.selected_btn[type="radio"] + .radio-label:before {
     box-shadow: inset 0 0 0 4px #f4f4f4 !important;
 }
 .no_card_text{
   width: 100%;
   margin-top: 250px;
 }

