

  .review_img{
      width: 40%;
      height: auto;
  }
  .text-gray{
      color: gray!important;
  }
  .seller_avatar{
      width: 60%;
      height: auto;
  }
  .seller_text_div{
      margin-left: -5%;
  }
  .img_div_width {
      width: 306px;
      display: flex;
      align-items: center;
      grid-gap: 10px;
  }
  .selected_btn {
      border: 1px solid #ff0027 !important;
  }
  .radio input[type="radio"] + .radio-label:before {
      content: '';
      display: inline-block;
      width: 30px;
      height: 30px;
      position: relative;
      top: -8px;
      margin-right: 1em;
      vertical-align: top;
      cursor: pointer;
      text-align: center;
      transition: all 250ms ease;
  }
  .product_details_part .cs_color_btn .radio input[type="radio"] + .radio-label:before {
      top: 1px !important;
      left: 1px !important;
  }
  .product_details_part .cs_color_btn .radio {
      margin: 3px 5px;
      display: inline-block;
      height: 32px;
      border-radius: 50%;
      width: 32px;
      line-height: 32px;
  }
  .radio input.selected_btn[type="radio"] + .radio-label:before {
      box-shadow: inset 0 0 0 4px #f4f4f4;
  }
  .tag_link{
      color: #8f8f8f;
  }
  .tag_link:hover{
      color: #ff0027;
  }
  #wishlist_btn{
      cursor: pointer;
  }
  .wishlist_disabled{
      pointer-events: none;
      cursor: default;
  }
  .client_review .single_product_img img {
      padding: 5px;
      border-radius: 5px;
  }
  .product_details_part .social_icon .social_icon_iner a {
      padding-top: 10px;
  }
  .related_product_width{
      width: 80%;
  }
  .media_style .category_product_price span {
      text-decoration: none!important;
  }
  .wishlist_btn_for_site{
      padding: 7px;
      border-radius: 50%;
  }
  .single_product_img > a > i{
      line-height: 50px;
  }

  .zoomContainer{
      height: 0!important;
      width: 0!important;
  }

  .zoomWindowContainer div{
      width: 550px!important;
      height: 418px!important;
      left: 620px!important;
      border: 1px solid rgb(241 33 33 / 38%)!important;
      background-color: #fff;
  }
  .zoomLens{
      border: 1px solid rgb(241 33 33 / 75%)!important;
  }

  .thumb_small_m{
      margin: 0px 10px 10px 0px;
  }
  .product_details_part .tab_thumb .nav-item {
      flex: 23% 0 0;
  }


  .product_details_part .tab_thumb .nav-item .thamb_img {
      position: relative;
      overflow: hidden;
      height: 100px;
      display: flex;
      align-items: center;
  }
  .img_div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 605px;
      cursor: pointer;
  }
  .img_div img {
      max-width: 100%;
      max-height: 605px;
  }

  .sku_img_div {
      background: #fff;
      width: 70px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .nice-select:after {
      border-bottom: 2px solid #999;
      border-right: 2px solid #999;
      content: '';
      display: block;
      height: 10px;
      margin-top: -4px;
      pointer-events: none;
      position: absolute;
      right: 12px;
      top: 50%;
      -webkit-transform-origin: 66% 66%;
      -ms-transform-origin: 66% 66%;
      transform-origin: 66% 66%;
      -webkit-transform: rotate(
      45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(
      45deg);
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      width: 10px;
  }
  .product_details_part .tab_content {
      padding: 30px!important;
  }
  .product_details_part .product_details .tittle h2 {
      z-index: 0;
  }

  @media (max-width: 1760px) {
      .zoomWindowContainer div{
          width: 550px!important;
      }
  }
  @media (max-width: 540px) {
      #add_to_cart_div,#wishlist_btn,#add_to_compare_btn{
          margin: 5px!important;
      }
  }


