.product_img{
    width: 10%;
    height: auto;
    margin-right: 15px;
}
.review_star{
    color: #ffb400;
}
.text-gray{
    color: gray;
}
@media (max-width: 767px){
    table.dataTable > tbody > tr.child span.dtr-data {
        width: 140%;
    }
    .check_box_table .QA_table .table tbody td:first-child {
        padding-left: 10px;
        padding-right: 10px;
    }
}
