.img_cross{
    position: relative;
    background: linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%);;
    color: #fff;
    border-radius: 50%;
    padding: 2px 4px;
    top: 13px;
    left: -5px;
}
/* .table td, .table th {
    padding: .75rem!important;
} */
.nav-link {
        background: #cad5f3;
        color: #415094;
        border: 0;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 500;
        padding: 8px 25px;
        margin-right: 10px;
        border-radius: 0px;
    }

    .product_list_img {
        max-width: 100%;
        max-height: 55px;
    }
    .meta_img_div {
        display: flex;
        height: 130px;
        width: 130px;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--border_color);
    }
    #MetaImgDiv{
        max-width: 95%;
        max-height: 120px;
        border-radius: 5px;
    }
    .thumb_img_div {
        display: flex;
        height: 100px;
        width: 100px;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--border_color);
    }
    #ThumbnailImg{
        max-height: 95px;
        max-width: 95%;
    }
    #gallery_img_prev {
        display: flex;
        flex: 23%;
        align-items: center;
        justify-content: left;
        grid-gap: 5px;
        margin-top: 5px;
    }
    .galary_img_div {
        display: flex;
        height: 80px;
        width: 80px;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--border_color);
        padding: 2px;
    }
    .galaryImg {
        max-width: 100%;
        max-height: 75px;
    }

    .cp{
        cursor: pointer;
    }
    .pt-25{
        /* padding-top: 25px!important; */
        padding: 25px .75rem .75rem .75rem!important;
    }
    .variantImgDiv{
        max-width: 100%;
        max-height: 50px;
        border-radius: 5px;
    }
    .pt_2{
        padding: 2px .75rem .75rem .75rem!important;
    }
    .pt-36{
        padding-top: 36px!important;
    }
    #logoImg{
        margin-bottom: 10px;
        max-width: 100%;
        max-height: 55px;
        margin-top: -15px;
    }

    .shiping_logo_div {
        display: flex;
        height: 120px;
        width: 120px;
        align-items: center;
        justify-content: center;
    }
    #shipping_logo{
        max-width: 100%;
        max-height: 115px;
    }

    #category_image_preview_div {
        display: flex;
        height: 150px;
        width: 150px;
        align-items: center;
        justify-content: center;
    }

    #catImgShow{
        max-width: 100%;
        max-height: 140px;
        border-radius: 5px;
        margin-top: -50px;
    }

    .fade:not(.show) {
        opacity: 1;
    }
    .iconpicker-popover.popover {
        width: 90%!important;
        z-index: 10000;
    }
    .product_img_div {
        display: flex;
        height: 60px;
        width: 60px;
        align-items: center;
        justify-content: center;
    }

    .brand_img_div {
        display: flex;
        height: 60px;
        width: 60px;
        align-items: center;
        justify-content: center;
    }
    .sku_img_div {
        display: flex;
        height: 50px;
        width: 50px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    @media (max-width: 1024px){
        .white_box {
            padding: 15px!important;
        }
        .sku_table{
            width: 150%;
        }
    }
    @media (max-width: 767px){
        .sku_table{
            width: 250%;
        }
    }
