 .custom_plus_btn {
     padding: 3px 7px 3px 14px;
 }

 .mt-32 {
     margin-top: 32px;
 }

 .btn_margin {
     margin-top: 32px;
 }

 @media (max-width: 1024px) {
     .btn_margin {
         padding-left: 0px;
         padding-right: 0px;
     }
 }
