.flag_img_div {
    display: flex;
    height: 120px;
    width: 120px;
    align-items: center;
    justify-content: center;
}
#FlagPreview {
    max-width: 100%;
    max-height: 120px;
    margin-top: -10px;
    border-radius: 5px;
}
.list_flag_div {
    display: flex;
    height: 60px;
    width: 60px;
    align-items: center;
    justify-content: center;
}
.list_flag{
    max-height: 55px;
    max-width: 95%;
}
