        body {
        	font-family: 'examplefont', sans-serif;
            font-size: 14px;
            margin: 0;
            padding: 0;
        }
        table {
            border-collapse: collapse;
        }
        h1,h2,h3,h4,h5{
            margin: 0;
            color: #00273d;
        }
        .border_table tbody tr td {
            border-bottom: 1px solid rgba(0, 0, 0,.05) !important;
            text-align: left;
            padding: 10px !important;
        }
        .invoice_wrapper{
            max-width: 1200px;
            margin: auto;
            background: #fff;
            padding: 20px;
        }
        .table {
            width: 100%;
            margin-bottom: 1rem;
            color: #212529;
        }
        .border_none{
            border: 0px solid transparent;
            border-top: 0px solid transparent !important;
        }
        .invoice_part_iner{
            background-color: #fff;
        }
        .invoice_part_iner h4{
            font-size: 30px;
            font-weight: 500;
            margin-bottom: 40px;

        }
        .invoice_part_iner h3{
            font-size:25px;
            font-weight: 500;
            margin-bottom: 5px;

        }
        .table_border thead{
            background-color: #F6F8FA;
        }
        .table td, .table th {
            padding: 5px 0;
            vertical-align: top;
            border-top: 0 solid transparent;
            color: #79838b;
        }
        .table_border tr{
            border-bottom: 1px solid #000 !important;
        }
        th p span, td p span{
            color: #212E40;
        }
        .table th {
            color: #00273d;
            font-weight: 300;
            border-bottom: 1px solid #f1f2f3 !important;
            background-color: #fafafa;
        }
        p{
            font-size: 14px;
            color: #000;
        }
        .box {
            flex: 20px 0 0;
            height: 15px;
            width: 20px;
            margin-left: 5px;
            border: 1px solid black;
            clear: both;
            display: inline-block;
        }
        h5{
            font-size: 12px;
            font-weight: 500;
        }
        h6{
            font-size: 10px;
            font-weight: 300;
        }
        .mt_40{
            margin-top: 40px;
        }
        .table_style th, .table_style td{
            padding: 20px;
        }
        .invoice_info_table td{
            font-size: 10px;
            padding: 0px;
        }
        .invoice_info_table td h6{
            color: #6D6D6D;
            font-weight: 400;
            }

        .text_right{
            text-align: right;
        }
        .text_left{
            text-align: left;
        }
        .virtical_middle{
            vertical-align: middle !important;
        }
        .logo_div {
            display: flex;
            height: 50px;
            width: 140px;
            align-items: center;
            justify-content: center;
        }
        .logo_div img{
            max-width: 100%;
            max-height: 50px;
        }
        .border_bottom{
            border-bottom: 1px solid #000;
        }
        .line_grid{
            display: grid;
            grid-template-columns: 200px auto;
            grid-gap: 10px;
        }
        .line_grid span{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .line_grid_2{
            display: grid;
            grid-template-columns: 120px auto;
            grid-gap: 10px;
        }
        .line_grid_2 span{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        p{
            margin: 0;
        }
        .font_18 {
            font-size: 16px;
        }
        .mb-0{
            margin-bottom: 0;
        }
        .mb_30{
            margin-bottom: 30px !important;
        }
        .border_table thead tr th {
            padding: 10px;
        }
        .title_header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 40px 0 15px 0;
        }
        .center{
            text-align: center !important;
        }
        .text-right{
            text-align: right !important;
        }
        .box_grid{
            display:block;
            display: flex;
            align-items: center;
            grid-gap: 5px;
        }
        .border_table td, .border_table th{
            padding: 10px;
        }
        .invoice_info h4{
            font-size: 20px;
            margin: 0;
            line-height: 1.5;
        }
        .text_uppercase{
            text-transform: uppercase;
        }

        .grid_end{
            justify-content: flex-end;
        }
        .border_table td{
            line-height: 1.3;
        }
        .title_text{
            font-size: 25px;
            margin-bottom: 20px;
            font-weight: 500;
        }

        .line_grid_auto {
            display: grid;
            grid-template-columns:  auto 200px;
            grid-gap: 10px;
        }
