

.user_list_div {
    margin-top: 0px;
}

.user-list {
    background-color: #f4f7f9;
    margin-top: 30px;
    min-height: 350px;
}

.user-img {
    width: 100%;
    height: auto;
    padding: 0px !important;
    border-radius: 5px;
}

.single_coupons_item .tablesaw thead tr:first-child th {
    padding: 25px 40px 25px;
    background-color: rgba(235, 0, 0, 0.81);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 11px;
    color: #fff;
}

.mt_60 {
    margin-top: 60px;
}

.nice-select {
    width: 100%;
    height: 40px !important;
    width: 260px;
    border-radius: 0;
    color: #000;
    line-height: 40px !important;
}

.add_new_btn {
    background-color: #ff0027;
    border: 1px solid #ff0027;
    color: #fff !important;
    display: inline-block;
    padding: 8px 30px;
    text-transform: capitalize;
    line-height: 16px;
    font-size: 13px;
    font-weight: 500;
    margin-left: 10px;
}
@media (max-width: 991px) {
    .cart_part tbody td {
        display: table-cell;
        white-space: nowrap;
    }
    .cart_part thead th{
        white-space: nowrap;
    }
}
@media (max-width: 768px) {
    p.mt-200 {
        margin-top: 65px!important;
    }
    .user-list {
        min-height: 220px;
    }
}

