.blog_img_div {
    display: flex;
    height: 190px;
    width: 280px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.blog_part .single_blog_post .single_blog_post_img img {
    max-width: 100%;
    max-height: 190px;
    width: auto;
}

.sidebar_post_img {
    display: flex;
    align-items: center;
    height: 60px;
    width: 80px;
    justify-content: center;
}
.blog_sidebar .single_blog_sidebar .single_sidebar_post .single_post_img img {
    max-width: 100%;
    max-height: 60px;
}
.sidebar_category_img {
    display: flex;
    height: 65px;
    width: 65px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.sidebar_category_img img{
    max-width: 100%;
    max-height: 65px;
    width: auto!important;
}
.blog_img_main_div{
    height: 228px !important;
    width: 349px !important;
}
